body {
    margin-top: 0%;
}

head{
    margin: 0%;
}

section.welcome{
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.wcc{
    padding-top: 5%;
}

.vandam-1{
    display: none;
}

.luck{
    text-align: center;
}

section.manager{
    padding-top: 10%;
    margin-left: 5%;
}

.vandam{
    text-align: center;
}

.yen{
    text-align: center;
}

.vertical-img{
    display: none;
}

section.team{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.team-sent{
    padding-top: 3%;
    padding-bottom: 10px;
    text-align: center;
}

.gen-kurt{
    text-align: center;
}

section.my-teams{
    margin: 10%;
}

section.members{
    margin: 10%;
}

.team-title{
    padding-bottom: 5%;
    text-align: center;
}

.team-here{
    font-style: italic;
}

html{
    scroll-behavior: smooth;
}









/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wc-sentence{
        text-align: center;
    }
    .yen{
        text-align: center;
    }
    .wcc{
        padding-top: 0%;
    }
    
    .yenpic{
        width: 50%;
    }

    .vandam{
        text-align: center;
        display: none;
    }
    
    html{
        scroll-behavior: smooth;
    }

    .vand-sent{
        text-align: center;
    }
    .vandam-1{
        display: block;
        text-align: center;
    }
    
    section.welcome{
        margin-right: 3%;
    }
    
    section.manager{
        margin-right: 3%;
    }
    
    .luck{
        text-align: center;
    }
    
    .lucky-me{
        text-align: center;
    }
    
    .horizontal-img{
        display: none;
    }
    
    .vertical-img{
        display: block;
    }
    
    section.my-teams{
        margin: 5%;
    }
    
    .w3-third{
        padding-top: 10%;
    }

    .vandampic{
        max-width: 50%;
    }

    .luckypic{
        width: 80%;
    }

    section.team{
        padding-bottom: 20%;
    }

    #landscape{
        display: none;
    }
    #drop-portrait{
        display: block;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    

    .w3-third{
        padding: 3%;
    }

    .yenpic{
        width: 65%;
    }

    .vandampic{
        width: 65%;
    }
    
    .luckypic{
        width:80%;
    }

    section.team{
        padding-bottom: 10%;
    }
    #landscape{
        display: block;
    }
    #drop-portrait{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}